* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

#sepet {
  height: 300px;
  width: 400px;
  background-color: whitesmoke;
  border: 1px solid black;
  position: absolute;
  z-index: 2;
  left: 140%;
  transition: all 0.5s linear;
  overflow: scroll;
  overflow-x: hidden;
}
.aktif {
  left: -900% !important;
}
